@page "/graphs"
@inject IJSRuntime JSRuntime
@inject HttpClient Http
@*@implements IAsyncDisposable*@

<div id="canvas-holder" class="shadow p-3 mb-5 bg-white rounded">
    <canvas id="myChart"></canvas>
</div>

<style>
    #canvas-holder {
        background-color: #FFFFFF;
        position: absolute;
        padding: 1rem;
        border-radius: 20px;
        width: 30%;
        display: flex;
    }
</style>

@code {

    private string name;


    private Task<IJSObjectReference> _module;
    private Task<IJSObjectReference> Module => _module ??= JSRuntime.InvokeAsync<IJSObjectReference>("import", "./chart.js").AsTask();

    protected override async Task OnInitializedAsync()
    {
        var module = await Module;
        var result = await Http.GetFromJsonAsync<List<TimesAddedStatisticsItem>>("https://localhost:44372/pricechange");
        var gg = JsonConvert.SerializeObject(result);

        await module.InvokeVoidAsync("createChart", gg);



    }

    //public async ValueTask DisposeAsync()
    //{
    //    if (_module != null)
    //    {
    //        var module = await _module;
    //        await module.DisposeAsync();
    //    }
    //}
}
