@page "/"

<h1>Hello, world!</h1>

Shops currently scraped and analyzed:
<ul>
    <li><a href="https://www.1a.lv/" target="_blank">1A</a></li>
    <li><a href="https://220.lv/lv/" target="_blank">220</a></li>
    <li></li>
</ul>


@*<SurveyPrompt Title="How is Blazor working for you?" />*@

