@page "/"

<h1>Hello, world!</h1>

Shops currently scraped and analyzed:
<ul>
    <li><a href="https://www.1a.lv/" target="_blank">
        <img alt="1a.lv - interneta veikals" class="main-logo__image" src="https://www.1a.lv/assets/shops/onea_lv/logo_lv-e82a7eda2d5e90709b56740105f1860edb610bc463592c1af5a47a42871fe0ce.svg"></a> 
    </li>
    <li><a href="https://220.lv/lv/" target="_blank"></a> 
        <img class="transition-04 static-logo main-our-logo lazy-item" id="logo-img" src="https://lv1.pigugroup.eu/static/facelift/img/logo/220-lv-shopping-center-4-christmas.gif" alt="Interneta veikals" load-delay="1500">
    </li>
    <li></li>
</ul>


@*<SurveyPrompt Title="How is Blazor working for you?" />*@

